html, body {
}

router {
}

button.link {
    margin: 0;
    padding: 0;
    font-size: inherit;
    display: inline;
    vertical-align: baseline;
}

/*override*/
input:invalid {
    box-shadow: 0 0 3px red;
}
input[required]:valid {
    box-shadow: 0 0 3px lime;
}

.hide {
    display: none;
}